[submodule "sencha-workspace/packages/jarvus-monaco-editor"]
	path = sencha-workspace/packages/jarvus-monaco-editor
	url = https://github.com/JarvusInnovations/jarvus-monaco-editor.git
[submodule "sencha-workspace/ext-6.0.1.250"]
	path = sencha-workspace/ext-6.0.1.250
	url = https://github.com/JarvusInnovations/extjs.git
	branch = 6.0.1.250
